openapi: 3.1.0
info:
  title: Mem0 Self-Hosted API
  version: "1.0.0"
  description: |
    Self-hosted Mem0 REST API exposed at api.joseai.dev.
    Used by Jose's personal GPT to store and search long-term memories.

servers:
  - url: https://api.joseai.dev
    description: Mem0 server via Cloudflare tunnel

paths:
  /memories:
    post:
      operationId: addMemories
      summary: Add memories from a conversation
      description: >
        Given a list of messages (chat turns), extract and persist
        long-term memories for a specific user (and optional agent).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMemoriesRequest"
      responses:
        "200":
          description: Memories created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddMemoriesResponse"

  /search:
    post:
      operationId: searchMemories
      summary: Semantic search over memories
      description: >
        Search existing memories for a given user using a natural language query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchMemoriesRequest"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMemoriesResponse"

  /memories:
    get:
      operationId: listMemories
      summary: List all memories for a user
      parameters:
        - in: query
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: agent_id
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of memories
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/MemoryItem"

  /memories/{memory_id}:
    delete:
      operationId: deleteMemory
      summary: Delete a memory by ID
      parameters:
        - in: path
          name: memory_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Memory deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

    put:
      operationId: updateMemory
      summary: Update an existing memory
      parameters:
        - in: path
          name: memory_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - memory
              properties:
                memory:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Memory updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryItem"

  /reset:
    post:
      operationId: resetMemories
      summary: Reset all memories for a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: string
                agent_id:
                  type: string
      responses:
        "200":
          description: All memories wiped
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

components:
  schemas:
    Message:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          description: Role in the conversation
          enum: [user, assistant, system]
        content:
          type: string
          description: Text content of the message

    AddMemoriesRequest:
      type: object
      required:
        - messages
        - user_id
      properties:
        messages:
          type: array
          description: Conversation messages to analyze for memories
          items:
            $ref: "#/components/schemas/Message"
        user_id:
          type: string
          description: User identifier (e.g. "jose")
        agent_id:
          type: string
          description: Optional agent identifier (e.g. "vera", "nova")
        metadata:
          type: object
          additionalProperties: true
          description: Optional metadata to store alongside the memories

    MemoryItem:
      type: object
      description: A single stored memory entry
      properties:
        id:
          type: string
          description: Memory ID
        memory:
          type: string
          description: Memory text/content
        user_id:
          type: string
        agent_id:
          type: string
        metadata:
          type: object
          additionalProperties: true
        score:
          type: number
          format: float
          description: Similarity score (for search results)
        created_at:
          type: string
          format: date-time

    AddMemoriesResponse:
      type: object
      description: Result of adding new memories
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/MemoryItem"

    SearchMemoriesRequest:
      type: object
      required:
        - query
        - user_id
      properties:
        query:
          type: string
          description: Natural language search query
        user_id:
          type: string
          description: User ID to search memories for
        agent_id:
          type: string
          description: Optional agent identifier (e.g. "vera")
        limit:
          type: integer
          default: 20
          description: Max results to return

    SearchMemoriesResponse:
      type: object
      description: Search results over memories
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/MemoryItem"